<a href="https://colab.research.google.com/github/Kibria12/OOP-II-Lab-manual-week-1-2/blob/master/OOP%20II%20Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 1


My Python First Program "Print HeLLo World"

In [1]:
print("Hello World")

Hello World


Variables and Assignment Statements

In [2]:
x=7
y=3
print(x+y)

10

In [3]:
total = x+y
print(total)

10

In [4]:

name = "Adam"
name2 = "Eva"
print(name , name2)

Adam Eva


Types

In [5]:
x =10
type(x)

int

In [6]:
type(10.5)

float

In [7]:
type(name)

str


Arithmetic operators

In [ ]:
multiplication = 7*4
 print(multiplication)

In [14]:
add = 10+15
print(add)

25

In [15]:
sub = 40-8
print(sub)

32

In [16]:
Exponentiation = 2**10
print(Exponentiation)

1024

True Division (/) vs. Floor Division

In [17]:
True_Division = 7/4
print(True_Division)

1.75

In [18]:
Floor_Division = 7//4
print(Floor_Division)

1

In [19]:
remainder = 15%7
print(remainder)

1

Relational Operators

In [21]:
x = 105
y = 100

In [22]:
x>y

True

In [23]:
x<y

False

In [24]:
x==y

False

In [25]:
x!=y

True

In [26]:
x>=y

True

In [27]:

x<=y

False

Chaining Comparisons

In [29]:
x = 3
y = 10

In [30]:
1 <= x <= 5

True

In [31]:
1 <= y <= 5

False


Print Function

In [32]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

Printing Many Lines of Text with One Statement

In [33]:
print('Welcome\nto\n\nPython!')

Welcome
to

Python!


Ignoring a Line Break in a Long String

In [34]:
print('this is a longer string, so we \
 split it over two lines')

this is a longer string, so we  split it over two lines


Printing the Value of an Expression

In [35]:
print('Sum is', 7 + 3)

Sum is 10

In [36]:

print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5


Including Quotes in Strings

In [37]:
print('Display "hi" in quotes')

Display "hi" in quotes

In [38]:
print('Display \'hi\' in quotes')

Display 'hi' in quotes

In [39]:

print("Display the name O'Brien")

Display the name O'Brien

In [40]:
print("Display \"hi\" in quotes")

Display "hi" in quotes

To avoid using \' and \" inside strings, you can enclose such strings in triple quotes

In [41]:
print("""Display "hi" and 'bye' in quotes""")

Display "hi" and 'bye' in quotes

In [43]:
triple_quoted_string = """This is a triple-quoted
string that spans two lines"""

In [44]:
print(triple_quoted_string)

This is a triple-quoted
string that spans two lines

string that spans two lines

In [45]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two lines'

In [46]:

print("""This is a lengthy
multiline string containing
a few lines \
of text""")

This is a lengthy
multiline string containing
a few lines of text

Precision Handling in Python

In [47]:
a = 3.4536475856

In [48]:

# using "%" to print value till 2 decimal places  
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.2f' %a)

The value of number till 2 decimal place(using %) is : 3.45

In [49]:

# using "%" to print value till 4 decimal places  
print ("The value of number till 2 decimal place(using %) is : ",end="") 
print ('%.4f' %a)

The value of number till 2 decimal place(using %) is : 3.4536


Getting Input from the User

In [ ]:
name = input("What's your name? ")

In [51]:
print(name)

Adam

In [66]:
value1 = input('Enter first number: ')
value2 = input('Enter second number: ')

Enter first number: 30
Enter second number: 40

In [67]:
total = value1 + value2
print(total)

3040

In [54]:
type(total) #python takes input as a string we have to type cast the input

int

In [68]:

total = int(value1) + int(value2) #type casting to int format
print(total)

70

Getting an Integer from the User by casting the input format

In [57]:
another_value = int(input('Enter another integer: '))

Enter another integer: 10

In [58]:
print(another_value)

10

Taking multiple input from the user

In [59]:
a, b = input().split()

10 20

In [61]:
print(a , b)

10 20

In [62]:
print(type(a))

<class 'str'>


Solving Problem

In [63]:

number1 = int(input('Enter first integer: '))
number2 = int(input('Enter second integer: '))
number3 = int(input('Enter third integer: '))

Enter first integer: 20
Enter second integer: 50
Enter third integer: 100

In [64]:
min(number1,number2,number3)

20

In [65]:
max(number1,number2,number3)

100

Week 2


IF statement

In [70]:
grade = 85
if grade>=60:
  print("passed")

passed


If else statement

In [71]:
grade =85
if grade>=60:
  print("passed")
else:
  print("fail")

passed


Conditional expression

In [72]:
result = ('Passed' if grade >= 60 else 'Failed')

In [73]:
print(result)

Passed


IF...elif....else statement

In [74]:

grade = 77

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

C

While Statement

In [75]:
number = 1

while (number<10):
  print(number, end=" ") #print in same line with space using end =" "
  number+=1

1 2 3 4 5 6 7 8 9

while statement to find the first power of 3 larger than 50:

In [76]:
product = 3

while product<=50:
  product = product*3

In [77]:
print(product)

81

For statement

In [78]:
for character in "programming":
  print(character, end=" ")

p r o g r a m m i n g


Built in Range Function

Let’s use a for statement and the built-in range function to iterate precisely 10 times, displaying the values from 0 through 9:

In [79]:
for counter in range(10):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9

Use the range function and a for statement to calculate the total of the integers from 0 through 1,000,000.

In [80]:
total = 0
for number in range(1000001):
  total = total+number

print(total)

500000500000

Function range also has two- and three-argument versions. As you’ve seen, range’s one argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument’s value. Function range’s two-argument version produces a sequence of consecutive integers from its first argument’s value up to, but not including, the second argument’s value, as in:

In [81]:
for number in range(5,10):
  print(number, end=" ")

5 6 7 8 9


Function range’s three-argument version produces a sequence of integers from its first argument’s value up to, but not including, the second argument’s value, incrementing by the third argument’s value, which is known as the step

In [ ]:
for number in range(0,10,2):
  print(number, end=" ")

If the third argument is negative, the sequence progresses from the first argument’s value down to, but not including the second argument’s value, decrementing by the third argument’s value, as in:

In [82]:

for number in range(10,0,-2):
  print(number, end=" ")

10 8 6 4 2

Number table print using range function

In [83]:
number =  int(input())

7

In [84]:
for i in range(1,11):
  print(number,"X",i,"=",number*i)

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

Nested For Loop

In [85]:
for left in range(7):
    for right in range(left,7):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]


Break statement

In [86]:
for number in range(10):
  if  number==5:
    break
  print(number, end=" ")

0 1 2 3 4

Continue statement

In [87]:

for number in range(10):
  if  number==5:
    continue
  print(number, end=" ")

0 1 2 3 4 6 7 8 9